.fijo {
  position: fixed;
  bottom: 10px;
  right: 0;
  width: 100px;
  background-color: white;
  font-size: 35px;
}
h1 {
  color: blue;
}
.titulo {
  text-align: center;
  font-size: medium;
  color: blue;
  border-style: solid;
  border-color: brown;
  height: fit-content;
  max-width: 800px;
}
.h2 {
  text-align: center;
  color: cornflowerblue;
}
.DescPersonal {
  max-width: 800px;
  font-style: normal;
  font-size: large;
  margin: 15px 15px 15px 15px;
  text-align: justify;
}
.Educacion {
  max-width: 800px;
  font-style: normal;
  font-size: large;
  margin: 15px 15px 15px 15px;
  text-align: justify;
}

.Experiencias {
  max-width: 800px;
  font-style: normal;
  font-size: large;
  margin: 15px 15px 15px 15px;
  text-align: justify;
}
.Skills {
  max-width: 800px;
  font-style: normal;
  font-size: large;
  margin: 15px 15px 15px 15px;
  text-align: justify;
}
.imagen {
  max-width: 800px;
  overflow: auto;
  height: auto;
}

.imagen {
  overflow: auto;
  height: 150px;
  width: 200px;

  margin: 0 0 1em 1em;
}

.divclass {
  max-width: 800px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-style: groove;
  border-radius: 5%;
  border-width: 20px;
  border-color: bisque;
  padding: 20px;
  text-align: center;
}
